body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
}

button{
    margin: 20px;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor:pointer;

}
.kakao-login{
    background-color: #fce205;
    color: #6e6e6e;
}
.google-login{
    background-color: red;
    color:white;
}