<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/main.css"
</head>
<body>
    <div class="container">
    {% if user %}
      <div class="user-name">{{user.name+'님'}}</div> 
      {% if user.provider=="kakao" %}
       <a class="logout" href="/auth/kakao/logout">로그아웃</a>
      {% elif user and user.provider=='google' %}
       <a class="logout" href="/auth/google/logout">로그아웃</a>
      {% endif %}
    {% else %}
    <div class='login-section' id="kakao-login-section">
      <form class="login-form" action="auth/kakao" method="get">
        <button class="kakao-login" type="submit" >Kakao 로그인</button>
      </form>
    </div>
    <div class='login-section' id="google-login-section">
      <form class="login-form" action="auth/google" method="get">
        <button class="google-login" type="submit">Google 로그인</button>
      </form>
    </div>
    {% endif %}
    <form class="sql test" action="sql" method="get"> 
      <button type="submit">sql test</button>
    </form>
    </div>
</body>
</html>
